body {
	background-color: @bg-color;
}

#main-box {
	position: relative;

	.layout-background {
		position: absolute;
		top: 0;
		z-index: -100;
		width: 100%;
		height: 400px;
		background-color: @primary-color;
	}

	.layout-container {
		.g-header {
			.content-wrapper {
				padding: 40px 0;
				color: #fff;
				text-align: center;

				h1 {
					font-size: 30px;
					line-height: 1em;
					font-weight: normal;
				}

				p {
					padding: 6px 0;
					line-height: 2.2em;
				}
			}
		}

		.g-main {
			margin: 0 auto;
			padding: 10px 150px;
			max-width: 1280px;

			.card-constraint {
				padding: 15px;
			}

			.summary-wrapper {
				.card-constraint();
				.box-shadow();
				background-color: @card-color;

				h1 {
					line-height: 2.2em;
					text-align: center;
					color: @title-color;
				}

				.summary-content {
					padding: 10px 0;

					.preface {
						text-align: center;
						color: @text-color;
						li {
							padding: 5px 0;
						}
					}

					.divider {
						margin: 20px auto;
						width: 80px;
						border-top: 1px solid #ddd;
					}

					.context {
						p {
							padding: 5px;
							text-align: justify;
						}
					}

					.author {
						padding-top: 5px;
						text-align: right;
					}
				}
			}

			.questions-wrapper,
			.cards-wrapper {
				h1 {
					margin-top: 20px;
					padding: 20px 0 30px;
					color: @title-color;
					text-align: center;
				}
			}

			.questions-wrapper {
				.questions-list {
					.question-item {
						.box-shadow();
						margin-bottom: 20px;
						background-color: @card-color;
						overflow: hidden;
						
						.question-headline {
							padding: 15px;
							border-bottom: 1px solid #ddd;
							
							h3 {
								font-size: 16px;
								line-height: 1.4em;
								color: @title-color;
								.anticon {
									margin-right: 7px;
								}
							}
						}
						
						.question-content {
							.card-constraint();
							color: @text-color;
							text-align: justify;

							li {
								padding: 15px 0;
								.answer-label {
									color: @primary-color;
								}
							}

							li:first-child {
								padding-top: 0; 
							}

							li + li {
								border-top: 1px dashed #ddd;
							}
						}
					}
				}
			}

			.cards-wrapper {
				.cards-list {
					.card-item {
						.box-shadow();
						margin-bottom: 20px;
						background-color: @card-color;
						overflow: hidden;

						.card-headline {
							padding: 15px;
							background-color: #f9f9f9;
							border-bottom: 1px solid #ddd;

							@img-width: 32px;

							h3 {
								margin-left: @img-width + 10px;
								font-size: 16px;
								line-height: @img-width;
								color: @title-color;
							}

							.headicon {
								float: left;
								width: @img-width;
								height: @img-width;
								border-radius: 50%;
								background: @primary-color url(../images/headicon.png) 0 2px no-repeat; 
								background-size: 100% auto;
							}
						}
						
						.card-content {
							.card-constraint();
							li ~ li {
								margin-top: 15px;
							}

							.card-label {
								float: left;
								color: @primary-color;
								.anticon {
									margin-right: 7px;
								}
							}

							p {
								margin-left: 63px;
								text-align: justify;
								color: @text-color;
							}
						}
					}
				}
			}
		}
	
		@media screen and (max-width: 700px) {
			.g-main {
				padding: 10px 10px;
			}
		}
	}
}
