#root {
  .g-content {
    .custom-image img {
      display: block;
    }
    .custom-card {
      line-height: 2em;
      padding: 0px 10px ;
      height: 350px;
      font-size: 14pt ;
    }
    .custom-card p {
      color: #999;

    }
    .ant-card{
      margin-top: 80px;
    }
    .ant-card-head{
      line-height:60px;
      height:60px;
    }
    h3.ant-card-head-title{
      font-size:18pt;
    }
  }
}